<h1>Registratie Aanpassen</h1>

<%= render 'form' %>

<!--<%= link_to 'Bekijk', @user %> |-->
<%= link_to 'Bekijk alle inschrijvingen', users_path %> |
<%= link_to 'Registreer je nu (opniew)', new_user_path %>
